.page-content {
    padding: 10px;
}

.demo-card-wide.mdl-card {
    float: left;
    margin: 2px;
    width: calc((100% / 3) - 4px);
}

.masonry {
    display: flex;
    flex-flow: column wrap;
    align-content: space-between;
    /* Your container needs a fixed height, and it 
    * needs to be taller than your tallest column.
    height: 600px;  */
}

.masonry-item:nth-child(3n+1) { order: 1; }
.masonry-item:nth-child(3n+2) { order: 2; }
.masonry-item:nth-child(3n)   { order: 3; }

.masonry-item {
    float: left;
    margin: 2px;
    width: calc(100% / 3);
}

.masonry::before,
.masonry::after {
  content: "";
  flex-basis: 100%;
  width: 0;
  order: 2;
}

@media (max-width :750px) {
    .demo-card-wide.mdl-card {
        width: 100%;
    }
}

.demo-card-wide>.mdl-card__title {
    color: #fff;
    height: 176px;

}

.demo-card-wide>.mdl-card__menu {
    color: #fff;
}

.mdl-navigation__link {
    font: 500;
    font-family: "Roboto";
}

#p2 {
    width: 100%;
}

.mdl-cell {
    width: 100%;
}