.page-content {
    padding: 10px;
}

.demo-card-wide.mdl-card {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: masonry;
    masonry-auto-flow: next;
}

@media (max-width :750px) {
    .demo-card-wide.mdl-card {
        width: 100%;
    }
}

.demo-card-wide>.mdl-card__title {
    color: #fff;
    height: 176px;

}

.demo-card-wide>.mdl-card__menu {
    color: #fff;
}

.mdl-navigation__link {
    font: 500;
    font-family: "Roboto";
}

#p2 {
    width: 100%;
}

.mdl-cell {
    width: 100%;
}